<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>



<a href="{% url 'signup' %}"><button type="button">Signup</button></a>
<a href="{% url 'details' %}"><button type="button">Details</button></a>
<a href="{% url 'salaryD' %}"><button type="button">Salary</button> </a>
<a href="{% url 'newpage' %}" ><button type="button">Profile</button></a>

</body>
</html>
